<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>67040239035-n8s9idaqei781jbdqu2p5ur9ii8e80ue.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.67040239035-n8s9idaqei781jbdqu2p5ur9ii8e80ue</string>
	<key>API_KEY</key>
	<string>AIzaSyDr2toV8yWtoxyu47jVaFZafQfQZoExofM</string>
	<key>GCM_SENDER_ID</key>
	<string>67040239035</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.pocAnd</string>
	<key>PROJECT_ID</key>
	<string>sso-demo-flutter</string>
	<key>STORAGE_BUCKET</key>
	<string>sso-demo-flutter.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:67040239035:ios:bd24153e18b5d1c28bb89e</string>
</dict>
</plist>